@CHARSET "UTF-8";

@FONT-FACE {
	font-family: cour;
	src: url(/studyphp/font/courbd.ttf);
}

@FONT-FACE {
	font-family: notosans;
	src: url(./../font/NotoSansCJKkr-Thin.otf);
}

@FONT-FACE {
	font-family: notosans_b;
	src: url(./../font/NotoSansCJKkr-Bold.otf);
}

li a {
	color: white;
}

li:hover {
	background-color: #0000ff;
	color: yellow;
}

div#list, div#bookmark_list {
	background-color: black;
}

body {
	font-family: notosans;
}

/*이 부분은 텍스트 부분 */
p, td {
	line-height: 30px;
}

th {
	background-color: #9d9dff;
	color: yellow;
}

p.bold, td.bold {
	font-weight: bold;
}

div#b {
	height: auto;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: medium;
	color: #000000;
}

div#s {
	background-color: orange;
	width: 75%;
	height: auto;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-size: large;
	font-weight: bold;
	font-family: inherit;
	display: block;
}

div#div1 {
	width: 800px;
}

h1 {
	background-color: #bebebe;
	text-align: center;
	color: #000000;
	font-family: notosans_b;
	padding: 10px 0;
}

h1 a {
	text-decoration: none;
	padding: 5px 0;
}

h2 {
	color: #400040;
}

.bookmark {
	background-color: #cfcfcf;
	font-size: x-large;
	text-align: center;
}

.bookmark a {
	color: red;
}

.bookmark a:BEFORE {
	content: '\2605';
}

.bookmark a:AFTER {
	content: '\2606';
}

h3 {
	color: white;
	background-color: olive;
	text-decoration: underline;
	display: inline-block;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid #8000ff;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: blue;
}
a:hover{
	font-style: italic;
}

img {
	max-width: 65%; 
	display : block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.code {
	font-family: cour, notosans;
	border: 2px solid #ababab;
	border-radius: 10px;
	padding: 15px;
	width: 80%;
	margin: 5px auto;
	overflow: auto;
}

span.code {
	padding: 1px 5px;
	border: none;
	background: #c5c5c5;
	margin: 0px;
	border-radius: 0px;
	color: black;
}

.subject {
	background-color: #8080ff;
	padding: 20px 0px;
	text-align: center;
	font-size: x-large;
	font-family: notosans_b;
}

.subject:hover {
	background-color: #000080;
	color: #ffff00;
}

.subject_fix {
	background-color: #8080FF;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.subject_fix a {
	font-weight: bold;
	color: #FFFF00;
	text-decoration: none;
}

.fixed {
	background-color: orange;
	position: fixed;
	width: 100px;
	top: 0px;
	right: 0px;
	text-align: center;
	padding: 10px 0px;
	font-family: notosans_b;
}

.imp {
	padding: 3px;
	background-color: #4600ff;
	color: #ffff00;
	font-weight: bolder;
	font-size: 18px;
}

.center {
	background-color: #8000ff;
	text-align: center;
	display: block;
	padding: 2px;
}

.center:HOVER {
	background-color: #ffff00;
	color: black;
}

.bsChrome, .bsEdge, .bsFirefox, .bsSafari, .bsOpera {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: white;
	height:80px;
}

.bsChrome {
	background-image: url("/studyhtml5/images/browser/crome.jpg");
}

.bsEdge {
	background-image: url("/studyhtml5/images/browser/iner_ex.jpg");
}

.bsFirefox {
	background-image: url("/studyhtml5/images/browser/firefox.jpg");
}

.bsSafari {
	background-image: url("/studyhtml5/images/browser/safari.png");
}

.bsOpera {
	background-image: url("/studyhtml5/images/browser/opera.jpg");
}

@media screen and (min-width: 900px) {
	/*this is text section. */
	li {
		color: aqua;
	}
	li:hover {
		background-color: #b000b0;
	}
	p {
		text-indent: 10px;
	}
	p, td {
		line-height: 30px;
	}
	p.bold, td.bold {
		font-weight: bold;
	}
	div#b {
		height: auto;
		background-color: black;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		font-size: 16px;
		color: white;
		font-family: notosans;
		border: 10px double #ffff80;
		border-radius: 30px;
	}
	div#s {
		background-color: orange;
		width: 75%;
		height: auto;
		padding: 2px;
		margin-left: auto;
		margin-right: auto;
		color: black;
		font-size: 16px;
		font-weight: bold;
		font-family: inherit;
		display: block;
	}
	div#div1 {
		width: 800px;
	}
	h2 {
		color: lime;
	}
	h3 {
		color: white;
		background-color: olive;
		text-decoration: underline;
		display: inline-block;
	}
	table, td, th {
		border: 1px solid yellow;
		margin-left: auto;
		margin-right: auto;
		color: white;
	}
	th {
		color: yellow;
	}
	a {
		color: yellow;
	}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.shadow {
		box-shadow: 0px 0px 30px yellow;
	}
	table {
		
		width: 80%;
		table-layout: fixed;
	}
}

@MEDIA screen and (max-width: 480px) {
	/*this is text section. */
	table {
		width: 100%;
		
	}
	p,td,th{
	word-break: break-all;
	}
}