@CHARSET "UTF-8";

@FONT-FACE {
	font-family: notosans;
	src: url("../../font/NotoSansCJKkr-Thin.otf");
}

body {
	font-family: notosans;
	width: 80%;
	margin: 0 auto;
	width: 80%;
}

label {
	color: white;
	background: black;
}

section {
	width: 100%;
	text-align: center;
}

article {
	display: inline-block;
	width: 80%;
	text-align: center;
}

canvas {
	border: black 2px solid;
	padding: 5px;
/*		width: 600px;
	height: 400px;
	*/
}