@charset "UTF-8";

nav {
	float: left;
	position: fixed;
	width: 100px;
	height: 400px;
	background-color: black;
	color: white;
	text-align: center;
}

.fa {
	padding: 10px 0;
	display: block;
	border: 1px solid white;
	text-align: center;
	color: #ccccaa;
	margin: 0;
	box-sizing: border-box;
	height:25%;
	font-size: 60px;
}

.fa:hover{
	color: white;
}

.fa>.nav_text {
	margin: 0;
	font-size: 15px;
}