@CHARSET "UTF-8";
td{
	width: 100px;
}
table{
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	margin: 10px;
}
.dot{
	border: 5px yellow dotted;
}
.dashed{
	border: 5px black dashed;
}
.solid{
	border: 5px solid;
}

.double{
	border: 5px double;
}
