@CHARSET "UTF-8";
/*section, article,img,p{
	border: black 5px solid;
}*/
@FONT-FACE {
	font-family: namu;
	src: url("../../font/NanumBrush.ttf");
}
body{
			font-family: namu;
}

@media screen /*전체적용*/ {
	body{
	width: 80%;
	margin : 0 auto;
	}
	.gotylist {
		font-size: x-large;
		text-align: center;
	}
	div.img_text {
		width: 30%;
		display: inline-block;
	}
	.gotylist img {
		width: 100%;
		transition: filter 1s,box-shadow 0.5s;
	}
	.gotylist img:hover {
		filter: grayscale(100%);
		box-shadow: 0px 0px 15px black;
	}
}

@media screen and (max-width: 1000px) /*900px이하*/ {
	div.img_text {
		width: 45%;
	}
	.gotylist img:hover {
		filter: grayscale(100%);
		box-shadow: 0px 0px 15px black;
	}
}

@media screen and (max-width: 700px) /*600px이하*/ {
		div.img_text {
		width: 100%;
	}
	.gotylist img:hover {
		filter: grayscale(100%);
		box-shadow: 0px 0px 15px black;
	}
}