@CHARSET "UTF-8";

body{
	box-shadow: 0 0 5px black;
}

@FONT-FACE {
	font-family: notoSans;
	src: url(../../font/NotoSansCJKkr-Regular.otf);
}

p.font1{
	font-family: notoSans;
}

p.font2{
	
	font-weight: 100;
	font-family: serif;
}