@CHARSET "UTF-8";

@media screen {
	body {
		background-color: lime;
	}
	body p {
		color: black;
	}
}

@media screen and (min-width: 350px) { /*320px 이상*/
	body {
		background-color: black;
	}
	body p {
		color: white;
	}
}

@media screen and (min-width: 480px) { /*480px 이상*/
	body {
		background-color: blue;
	}
	body p {
		color: orange;
	}
}

@media screen and (min-width: 720px) { /*720px 이상*/
	body {
		background-color: yellow;
	}
	body p {
		color: blue;
	}
}

@media screen and (min-width: 1000px) { /*1000px 이상*/
	body {
		background-color: gray;
	}
	body p {
		color: yellow;
	}
}