@CHARSET "UTF-8";


.One{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	background-color: black;
	border: solid black 2px;
	
}
.Two,.Three{
	display: block;
	height: 200px;
}

.Two{
	float:left;
	background-color: blue;
	width: 59%;
}

.Three{
	float: right;
	width: 39%;
	background-color: green;
}
